html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ec9d81;
    color: #333;
}

section {
    text-align: center;
    border: none;
    padding: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    max-width: 900px;
    margin: 100px auto 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.nombre {
    font-size: 50px;
    font-weight: bold;
    color: #222;
}

.profesion {
    font-size: 22px;
    color: #555;
    font-style: italic;
}

.bio {
    font-size: 18px;
    color: #666;
    line-height: 1.8;
}

.habilidad{
    width: fit-content;
    padding: 8px;
    border: 0px solid;
    background-color: #c1c1c1;
    border-radius: 20px;
    margin: 20px auto;
}
.habilidad p{
    margin: 0;
}
.habilidadesDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experienciaArticle {
    width: fit-content;
    max-width: 400px;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 15px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-left: 6px solid #e5b66b;
    font-size: 18px;
}

.enlace-proyecto {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.enlace-proyecto:hover {
    color: #0056b3;
    text-decoration: underline;
}

.proyecto {
    border: none;
    border-radius: 15px;
    color: #444;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    font-size: 18px;
}

.proyecto:hover {
    transform: translateY(-5px);
}